/*Common*/
.section-title h3{
    font-size: 48px;
}
.btn-primary.focus, .btn-primary:focus{
    box-shadow: none;
}
button:focus{
    outline: none;
}
.watch-video .video:before{
    background: none !important; 
}
/*Header Top*/

.alfa-header-top{
    background-color: #111;
    padding: 15px 20px;
    position: relative;
}
/* .alfa-header-top::before{
    content: "";
    width: 75%;
    background-color: #fff;
    border-top: 72px solid #fff; 
    border-right: 50vw solid #333;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
} */
.foxapp-header.sticky{
    max-width: 100%;
}
.alfa-header-top .navbar-brand{
    float: left;
    z-index: 0;
    position: absolute;
    top: 2px;
}
.alfa-header-top .navbar-brand img {
    max-width: 108px;
}
.alfa-header-top-btn-wrapper{
    text-align: right;
}
.alfa-header-top-btn-wrapper .btn-primary{
    padding: 10px 40px;
}
.alfa-btn-join-now{
    padding: 10px 26px !important;
}
/*Header*/
.foxapp-header{
    top: 90px;
}
.alfa-white-logo{
    width: 80px;
    display: none;
}
/*HERO Section*/
.alfa-hero.watch-video .video,
.why-us.watch-video .video{
     
}
.slide .content-bottom {
    padding: 200px 0;
}
.slide .content-bottom h2 { 
    font-size: 72px;
    line-height: 1;
    margin-bottom: 18px;
}
.slide .content-bottom p { 
    max-width: 300px;
    padding-left: 5px;
    font-size: 17px;
}

/*DOWNLOAD*/
.boxes .box{
    padding: 40px 30px;
}
.boxes .box p {
    font-size: 15px;
}
/*FUN FACTS*/
.fun-facts .fact-box{ 
    min-height: 272px;
}
.fun-facts .fact-box h5{
    font-size: 44px;
}
.alfa-percentage .fact-box h5{
    position: relative;
}
.alfa-percentage.fact-box h5::after{
    content: "%";
}
.alfa-million.fact-box h5::after{
    content: "M";
}
/* .fun-facts .fact-box .lnr,
.fun-facts .fact-box h5,
.fun-facts .fact-box h6{
    color: #fff !important;
} */


/*ABOUT*/
.why-us p{
    text-align: justify;
}
.alfa-about-img{
    max-width: 470px;
    float: left;
}
.alfa-readmore-btn {
    font-size: 15px;
}

/*FEATURES*/
/* .features-circle .circle-svg{
    top: -80px;
} */
.features-circle img{
    max-width: 510px;
}
.main-features .one-feature p {
    font-size: 15px;
}
.main-features .one-feature h5{
    display: block;
}
.alfa-readmore-btn:hover{
    background-color: #F2CE5F;
}
/*OTHER FEATURE*/
.other-features{
    padding: 60px 0 100px;
}
.other-features .other-features-slider .item{
    min-height: 245px;
}
.other-features .other-features-slider .item p{
    font-size: 13px;
}
/*Tutorial Videos*/
.screenshots .screenshots-slider .item{
    opacity: unset;
}

/*Watch Video*/
.lity, .watch-video .video:before{
    border-radius: 20px;
}
/* .watch-video .video{
    background-image: url(../img/people.jpg);
    max-width: 900px;
    margin: 0 auto;
} */

/*VIDEO TUTORIALS*/
.screenshots .screenshots-slider .slick-slide img{
    max-width: 320px;
}
.screenshots .screenshots-slider .slick-prev:before, 
.screenshots .screenshots-slider .slick-next:before{
    color: #333;
}
/*FAQ*/
.faq .faq-category-title{
    padding-left: 10px;
}
.faq .accordion .card .card-body button{
    float: right;
    margin-bottom: 30px;
    font-size: 15px;
} 
.faq .accordion .card.alfa-accordion-open{
    border-radius: 5px !important;
}
/*FOOTER*/ 
footer .footer-widgets .widget img{
    max-width: 150px;
    margin-top: 0;
    margin-bottom: 0;
    display: block;
}
footer .footer-widgets .widget p{
    font-size: 14px;
    line-height: 1.5;
}
footer .footer-widgets .widget img.alfa-aussie-logo{
    max-width: 135px;
    margin-left: 30px; 
}

/*MODAL*/
.alpha-login-modal .modal-dialog{ 
    max-width: 410px;
}
.alpha-login-modal .modal-content{
    background-color: #00cdcd;
    border-radius: 20px;
}
.alpha-login-modal .modal-header{
    border-bottom: none;
    padding-bottom: 0;
}
.alpha-login-modal .modal-header .nav-pills .nav-link{
    color: #fff;
}
.alpha-login-modal .modal-header .close {
    color: #fff;
}
.alpha-login-modal .modal-header .nav-pills .nav-link.active,
.alpha-login-modal .modal-header .nav-pills .show>.nav-link{
    color: #00cdcd;
    background-color: #ffffff;
    border-radius: 50px;
}
.alpha-login-modal-logo{
    text-align: center;
}
.alpha-login-modal-logo img{
    max-width: 64px; 
    position: absolute;
    top: 32px;
    left: 50%;
    transform: translate(-50%, 0);
}
.alpha-login-modal-logo .circle{
    background-color: #fff;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin: 0 auto 24px;
} 
.alpha-login-modal .modal-body{
    padding: 1rem 2.5rem;
}
.alpha-login-modal.git-in-touch .form-group .form-control{
    border-color: #fff; 
    background: transparent;
    color: #fff;
    font-weight: 500;
    margin-bottom: .75em;
}
.alpha-login-modal.git-in-touch .form-group .form-control::placeholder{
    color: #fff;
}
.alpha-login-modal.git-in-touch  .btn-primary{
    padding: 12px;
}
.alpha-login-modal.git-in-touch  .btn-primary:hover{
    background-color: #F2CE5F;
}
.alpha-modal-btn-divider{
    color: #fff;
    margin-bottom: 24px;
}
.btn-facebook,.btn-google,.btn-telegram{
    border-radius: 50px;
    padding: 4px 38px;
    color: #fff;
    transition: .4s;
}
.btn-facebook{
    background-color: #3b5998;
}
.btn-facebook:hover{
    background-color: #003094; 
}
.btn-google{
    background-color: #db4a39;
}
.btn-google:hover{
    background-color: #bf1400;
}
.btn-telegram{
    background-color: #0088cc;
}
.btn-telegram:hover{
    background-color: #015986;
}

/*SLICK Overwrite*/
.slick-dots {
    position: absolute;
    bottom: -55px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}
.slick-dots li {
    width: 20px;
    height: 15px;
    transition: all ease 0.3s;
}
.slick-dots li button {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background: #fff;
    margin: 0 auto;
}
.slick-dots li.slick-active {
    width: 40px;
}
.slick-dots li.slick-active button{
    background: #00cdcd; 
    border: 2px solid #fff;
}
.slick-dots li button:before,
.slick-dots li.slick-active button:before{
    color: transparent;
}
.slick-prev{
    left: 25px;
    z-index: 2;
}
.slick-next{
    right: 25px;
}
@media (min-width: 992px){
    .slide .content-bottom img {
        max-width: 500px;
    }
}
@media (max-width: 1366px){
    .slide .content-bottom { 
        padding-bottom: 70px;
    }
}
@media (min-width: 992px) and (max-width: 1025px) { 
    .circle-svg svg {
        margin-left: -20px;
    }
}
@media (max-width: 1024px){ 
    .alfa-about-img{
        max-width: 90%;
    }
    .features-circle img{
        max-width: 100%;
    }
    /* .circle-svg svg{
        max-width: 460px;
    } */
    /* .features-circle .circle-svg{
        top: -90px;
    } */
}
@media (max-width: 768px){
    .main-features .features-circle{
        padding: 60px 0;
    }
    /* .features-circle .circle-svg {
        top: 10px;
    } */
    .features-circle img{
        max-width: 100%;
    }
    .alfa-about-img{
        max-width: 100%;
    }
}
@media (min-width: 576px) and (max-width: 767.98px) { 
    .circle-svg svg {
        max-width: 360px;
    }
}
@media (max-width: 767px){
    .alfa-header-top{
        padding: 20px 20px;
    }
    .alfa-header-top .navbar-brand img{
        max-width: 100px;
    }
    .alfa-header-top-btn-wrapper .btn-primary,
    .alfa-header-top-btn-wrapper .btn-primary.alfa-btn-join-now{
        padding: 4px 8px !important;
        font-size: 12px;
    }
    .alpha-login-modal .modal-dialog{
        max-width: 100%;
    }
    .why-us h3{
        margin-top: 20px;
    }
    footer .footer-widgets .widget{
        text-align: center;
    }
    footer .footer-widgets .widget img,
    footer .footer-widgets .widget img.alfa-aussie-logo{
        margin: 0 auto;
    }
}
@media (max-width: 375px){
    .features-circle svg {
        height: 320px;
    }
    .circle-svg svg{
        max-width: 100%;
    }
    .slick-dots li {
        width: 15px;
    }
    .screenshots .screenshots-slider .slick-slide img{
        max-width: 90%;
    }
}